@(form: Form[Hotel])
@main("New hotel") {
    @helper.form(if(form.value().isEmpty) {routes.Hotels.newHotel()} else {routes.Hotels.editHotel(form.get.getHotelId)}) {
        <h1>@if(form.value().isEmpty) {New hotel} else {Edit hotel}</h1>
        @if(form.hasGlobalErrors) {
            <div class="alert alert-danger" role="alert">
            @form.globalError.message
            </div>
        }
        <p>
            <input type="text" name="name" placeholder="Name" required="true" value="@if(!form.value().isEmpty){@form.get.getName}"/>
        </p>
        <p>
            @if(!form.value().isEmpty) {
                <input type="text" name="city" placeholder="City" required="true" value="@form.get.getCity" disabled />
            } else {
                <input type="text" name="city" placeholder="City" required="true" />
            }
        </p>
        <p>
            @if(!form.value().isEmpty) {
                <input type="text" name="address" placeholder="Address" required="true" value="@form.get.getAddress" disabled/>
            } else {
                <input type="text" name="address" placeholder="Address" required="true" />
            }
        </p>
        <p><label>Standard
            <select name="standard">
            @for(i <- 1 to 5) {
                @if(!form.value().isEmpty && form.get.getStandard == i) {
                    <option value="@i" selected>@i</option>
                } else {
                    <option value="@i">@i</option>
                }
            }
            </select></label>
        </p>
        <p>
            <button class="btn btn-primary" type="submit">Submit</button>
        </p>
    }
}