@(offer: Offer)

@main("Offer") {
    <style>

    .row #myCarousel {
    height : 350px ;
    }
    .carousel-inner >.item > img,
    .carousel-inner >.item > a > img {
    margin : auto ;
    height : 350px ;
    }
    </style>
    <div class="page-header">
        <h1>Offer</h1>
    </div>
    <div class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                @for(i <- 1 to offer.getImages.size - 1) {
                    <li data-target="#myCarousel" data-slide-to=i></li>
                }
            </ol>

                <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <img src="@routes.Assets.at("images/products/".concat(offer.getImages.get(0).getImageId.toString))" height="350px">
                </div>
                @for(i <- 1 to offer.getImages.size - 1) {
                    <div class="item">
                        <img src="@routes.Assets.at("images/products/".concat(offer.getImages.get(i).getImageId.toString))" height="350px">
                    </div>
                }
            </div>

            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="row">
        <p></p>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Offer description</h3>
            </div>
            <div class="panel-body">
            @offer.getDescription
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Publisher</h3>
                </div>
                <div class="panel-body">
                @offer.getClientPublisher.getClientData.getName
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Places</h3>
                </div>
                <div class="panel-body">
                @offer.getPlacesNumber
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Expiration</h3>
                </div>
                <div class="panel-body">
                @offer.getExpiryDate
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Price</h3>
                </div>
                <div class="panel-body">
                @offer.getPrice
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Standard</h3>
                </div>
                <div class="panel-body">
                @offer.getStandard
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Address</h3>
                </div>
                <div class="panel-body">
                @offer.getAddress
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <button type="button" class="btn btn-default">
                Mail me</button>
            <button type="button" class="btn btn-default">
                Book room</button>
        </div>
    </div>
}